body{
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}
header.introheader{
    padding: 5px;
    margin: 0;
}
.nav{
    background-color: #333;
    padding: 10px;
    Border: 1px solid #444;
    border-radius: 10px;
    word-spacing: 75px;
}
#navbar a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size:1rem;
}
#navbar a:hover{
    box-shadow: rgba(240, 128, 128, 0.724) 0 0 10px 5px;
    color: rgba(240,128,128,1)
}
.grid-container{
    display: grid;
    gap: 15px;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}
.header{
    grid-area: header;
    padding: 10px;
    text-align: center;
    justify-content: right;
}
.introheader, .header{
    background: linear-gradient(60deg, #4628ce, #410b8d, #44037c);
}
.sidebar{
    grid-area: sidebar;
    border: 2px solid #4628ce;
    border-radius: 20px;
}
.main{
    grid-area: main;
    display:grid;
    grid-template-areas:
    "goalsheader goalsheader"
    "goals1 goals2";
    grid-template-rows: .1fr 1fr;
    grid-template-columns: 1fr 1fr;
    line-height: 50px;
}
.footer{
    grid-area: footer;
}
.flexbox-pas{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    border: 2px solid black;
    border-radius: 10px;
}
.flexitem-pas{
    text-align: center;
    font-size: 15px;
    margin: 5px;
    padding: 5px;
}
.flexgoals{
    display:flex;
    flex-direction: column;
    Border: 2px solid white;
    border-radius: 20px;
    grid-area:goals1;
    padding: 5px;
    margin: 10px;
    text-align: center;
}
.flexgoals2{
     display:flex;
    flex-direction: column;
    Border: 2px solid white;
    border-radius: 20px;
    grid-area:goals2;
    padding: 5px;
    margin: 10px;
    text-align: center;
}
#goalsheader{
    grid-area:goalsheader;
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
